<p>
  <strong>{{content.title}}</strong>
</p>
<p>
    {{content.description}}
</p>
<div *ngIf="content && content.details">
  <ul>
    <li *ngFor="let detail of content.details">
      {{detail.text}}
    </li>
  </ul>
</div>