<nav class="navbar navbar-default navbar-mungos">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="toggleHeaderMenu()" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>           
        </div>
        <div class="navbar-collapse" *ngIf="headerMenuActive">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="authService.user | async" class="active"><a [routerLink]="['/admin']">Admin</a></li>
                <li class="active"><a [routerLink]="['']">Inicio</a></li>
                <li *ngFor="let content of contents | async" (click)="onSelectContent(content)" ><a [routerLink]="['/content', content.id]">{{content.title}}</a></li>                
                <li *ngIf="false"><a [routerLink]="['/shopping-cart']"><span class="glyphicon glyphicon-shopping-cart"></span>({{ getElementsInCartCount()}})</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-menu-area">
    <div class="container">
        <div class="main-menu-wrapper">
            <ul>
                <li>
                    <a [routerLink]="['']">Inicio</a>
                </li>
                <li >
                    <a [routerLink]="['/products', 'all']">Productos</a>
                </li>
                <li (click)="onSelectWhereToBuy()">
                    <a [routerLink]="['/content', '2']">¿Dónde comprar?</a>
                </li>
                <li>
                    <a class="link-main-logo" [routerLink]="['']">
                        <h1>Mungos</h1>
                    </a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>