.navbar{
    margin-bottom: 0px;
}

.navbar a{
    color: #000;
}

.navbar-mungos{
    background-color: #e6e7e9 !important;
    border-bottom: 1px dashed #a1a1a1 !important;
}

.navbar-nav li a {
    color: #9a9a9a;
}

.main-menu-area {
    background-color: #00aecb;
    margin-bottom: 40px;
}

.main-menu-wrapper  ul{margin:0px; padding:0px; }
.main-menu-wrapper > ul > li {position:relative; list-style:none;float:left;padding-left:25px; height:85px; line-height:85px;}
.main-menu-wrapper > ul > li > a{color:#fff; font-size:17px; }
.main-menu-wrapper > ul > li > a:hover{ text-decoration:none; border-bottom:3px dotted #fff;padding-bottom:5px; }

a.link-main-logo {
    background: url("/assets/images/logo.png") no-repeat scroll 0 0 transparent;
    position: relative;
    width: 255px;
    z-index: 9999999999;
  }
  a.link-main-logo h1{position:relative; top:0px; margin:0px; line-height:85px; text-indent:-99999px; background:url("/assets/images/logo.png") no-repeat scroll 0 0px transparent;  height:115px;  width:305px;}
  a.link-main-logo:hover{border-bottom:none;}


@media only screen and (max-width: 710px) {
    a.link-main-logo {
        display: none;
    }
}