.dog-cat-background {
    background: url("/assets/images/dog_cat.png") no-repeat scroll 750px 20px transparent;
    margin: 0 auto;
    width: 1150px;
    min-height: 310px;
}

@media only screen and (max-width: 710px) {
    .social-area {
        display: none;
    }
}

.social-area {
    margin-top: 20px;
}

.clearfix {
    overflow: visible;
}

footer {
    margin: 30px 0;
}