<div class="social-area clearfix">
  <div class="dog-cat-background clearfix">

  </div>
</div>

<div class="container">
  <footer>
      <div class="row">
          <div class="col-xs-12">
              <p>Copyright &copy; Mungos 2017</p>
          </div>
      </div>
  </footer>
</div>