<div *ngIf="getElementsCount() == 0">
  Aún no tienes productos en tu carrito
</div>

<div *ngIf="getElementsCount() > 0">
  <p>
    Tienes los siguientes {{ getElementsCount() }} productos en tu carrito.
  </p>

  <div class="row sm-bottom-margin sm-top-margin">
    <div class="col-xs-3 col-md-3">
      Producto
    </div>
    <div class="col-xs-2 col-md-2">
      Presentación
    </div>
    <div class="col-xs-2 col-md-2">
      Cantidad
    </div>
    <div class="col-xs-2 col-md-2">
      Precio Unitario
    </div>
    <div class="col-xs-2 col-md-2">
      Precio Total
    </div>
    <div class="col-xs-1 col-md-1">

    </div>
  </div>

  <div class="row sm-bottom-margin" *ngFor="let item of getElements(); let i = index">

    <div class="col-xs-3 col-md-3">
      {{ item.productName }}
    </div>

    <div class="col-xs-2 col-md-2">
      {{ item.details.title }}
    </div>

    <div class="col-xs-2 col-md-2">
      <select [(ngModel)]="item.details.quantity">
                <option >1</option>
                <option >2</option>
                <option >3</option>
                <option >4</option>
            </select>
    </div>

    <div class="col-xs-2 col-md-2">
      ${{ item.details.unitPrice }}
    </div>

    <div class="col-xs-2 col-md-2">
      ${{ item.details.getTotalPrice() }}
    </div>

    <div class="col-xs-1 col-md-1">
      <span class="glyphicon glyphicon-remove" (click)="removeElement(i)"></span>
    </div>
  </div>

  <br />

  <div class="row">
      <div class="col-md-12">
        <strong>
          Valor de la compra:
        </strong>
        <span>
          ${{ getTotal() }}
        </span>
      </div>
    </div>


    <br />

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="addToCart()">Comprar</button>
    </div>
  </div>


</div>