<div>

  <div *ngIf="authService.user | async; else login">

    <p>
      <a (click)="onLogout()">Cerrar sesión</a>
    </p>

    <h3>
      Administración de Productos
    </h3>

    <div class="row">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-7">&nbsp;</div>
      <div class="col-md-2">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <a [routerLink]="['/manage-product', 0]">Adicionar producto</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">T&iacute;tulo</div>
      <div class="col-md-7">Descripci&oacute;n</div>
      <div class="col-md-2"></div>
    </div>

    <div class="row padding" style="margin-top:5px;" *ngFor="let product of products | async">
      <div class="col-md-3">
        <a [routerLink]="['/manage-product', product.$key]">{{product.title}}</a>
      </div>
      <div class="col-md-7">{{ descriptionPreview(product)}}</div>
      <div class="col-md-2">
        <span [routerLink]="['/manage-product', product.$key]" class="glyphicon glyphicon-edit" aria-hidden="true"></span> &nbsp;
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <ng-template #login>

      <h3>
        Inicio de sesión
      </h3>
  
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
          Email
          <br>
          <input type="text" [(ngModel)]="email">
        </div>
      </div>
  
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
          Clave
          <br>
          <input type="password" [(ngModel)]="password">
        </div>
      </div>
  
      <input type="button" (click)="onLogin()" value="Enviar">
  </ng-template>

</div>