<div class="main-wrapper">
    <app-header></app-header>

    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <app-left-menu></app-left-menu>
            </div>

            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>

        </div>

    </div>

    <app-footer></app-footer>
</div>