body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.main-wrapper{background:url("/assets/images/footer_bg.png") no-repeat center bottom transparent;background-size:100%;}