<div class="snacks-items-area">
  
  <div class="container-fliud">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngFor="let product of productsToDisplay | async">

        <div class="thumbnail">

          <img src='{{ product.featuredImageUrl }}' alt="">

          <div class="caption">
            <h4 class="pull-right"></h4>
            <h4>
              <a [routerLink]="['/product', product.id]">{{ titlePreview(product) }}</a>
            </h4>
            <p>{{ descriptionPreview(product) }}</p>
            <div class="cloud-tag">
              <span *ngFor="let category of product.categories">{{ category }}&nbsp;</span>
            </div>
          </div>
          <div class="ratings">
            <p class="pull-right"></p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>