<div class="product">

    <div *ngIf="authService.user | async;" class="row" >
        <div class="col-md-10">
          &nbsp;
        </div>
        <div class="col-md-2">
            <span [routerLink]="['/manage-product', product.$key]" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <a [routerLink]="['/manage-product', product.$key]">Editar</a>
          </div>  
    </div>

  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="{{ product.imageUrl }}" alt="">
    </div>
    <div class="col-md-6">
      <h3 class="card-title">{{product.title}}</h3>
      <p class="card-text">{{product.description}}</p>

      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>

      <!-- Add to cart -->
      <div *ngIf="false" >

        <div class="row sm-bottom-margin sm-top-margin">
          <div class="col-xs-3 col-md-3">
            Presentación
          </div>
          <div class="col-xs-3 col-md-3">
            Cantidad
          </div>
          <div class="col-xs-3 col-md-3">
            Precio
          </div>
          <div class="col-xs-2 col-md-2">

          </div>
        </div>

        <div class="row sm-bottom-margin" *ngFor="let selected of addedToCartRefences; let i = index">
          <div class="col-xs-3 col-md-3">
            <select name="" id="" (change)="updateReferencePrice(i, $event)">
                    <option >Seleccione</option>
                    <option *ngFor="let reference of product.references">
                      {{reference.title}}
                    </option>
                  </select>
          </div>
          <div class="col-xs-3 col-md-3">
            <select [(ngModel)]="selected.quantity">
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                </select>

          </div>
          <div class="col-xs-3 col-md-3">
            $ {{selected.getTotalPrice()}}
          </div>
          <div class="col-xs-2 col-md-2">
            <span class="glyphicon glyphicon-remove" (click)="removeProductReferenceFromList(i)"></span>
          </div>
        </div>

        <div class="row" *ngIf="product.references">
          <div class="col-md-12">
            <button class="btn btn-default pull-right" (click)="addProductReferenceToList()">Adicionar Producto</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="addToCart()">Adicionar al carrito</button>
          </div>
        </div>

        <br />
        <div class="row" *ngIf="showCartDetailsLink">
          <div class="col-md-12">
            <a [routerLink]="['/shopping-cart']">Ver carrito (tienes {{ getShoppingCartElementsCount() }} productos en él.)</a>
          </div>
        </div>

      </div>



    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-outline-secondary my-4">
        <h4>
          Detalles del produto
        </h4>
        <div class="card-body">
          <p class="card-text">{{product.extendedDescription}}</p>
        </div>
      </div>

    </div>
  </div>
</div>