<div>

  <p>
    <a [routerLink]="['/admin']">Admin</a>
  </p>

  <div *ngIf="displaySavedMessage" class="alert alert-success">
    Producto guardado.
  </div>

  <h3>
    Editando {{model.title }}
  </h3>

  <form ngSubmit="onSubmit()">

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        Título
        <br>
        <input type="text" [(ngModel)]="model.title" name="title">
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        Descripción
        <br>
        <textarea [(ngModel)]="model.description" name="description" cols="80" rows="5"></textarea>
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        Descripción Adicional
        <br>
        <textarea [(ngModel)]="model.extendedDescription" name="extendedDescription" cols="80" rows="5"></textarea>
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <input type="checkbox" [(ngModel)]="model.featured" name="featured"> Destacado en el Home
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        Ruta de la imagen
        <br>
        <input type="text" [(ngModel)]="model.imageUrl" name="imageUrl">
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        Ruta de la imagen destacada
        <br>
        <input type="text" [(ngModel)]="model.featuredImageUrl" name="imageUrl">
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
          Categorías
          <br>
          <div *ngFor="let category of availableCategories">
              <input type="checkbox" [checked]="category.checked" (change)="onToggleCategory(category.value)" name="options" > {{ category.text }}
          </div>          
        </div>
      </div>

    <input type="button" (click)="onSaveProduct()" value="Guardar">

  </form>

</div>