@font-face {
    font-family: Abel;
    src: url('assets/fonts/abel-regular.ttf');
}

body{
    color: #333;
    font-family: 'Abel';
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary{
    background-color: #00aecb;
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}
