.cloud-tag{
    color: #23527c;
    font-size: 13px;
}

.snacks-items-area {
    padding: 20px;
    background: url("/assets/images/middle_content_bg.jpg") repeat;
    min-height: 377px;
    min-width: 200px;
}